A.document:link { color: #006699; text-decoration: none;cursor: pointer}
A.document:visited { color: #6699CC; text-decoration: none; cursor: pointer}
A.document:active { color: #FF9C32; text-decoration: none;cursor: pointer}
A.document:hover { color: #006699; text-decoration: underline;cursor: pointer}

A.path:link { color: #FF9C32; text-decoration: none;cursor: pointer}
A.path:visited { color: #FF9C32; text-decoration: none; cursor: pointer}
A.path:active { color: #FF9C32; text-decoration: none;cursor: pointer}
A.path:hover { color: #FF9C32; text-decoration: underline;cursor: pointer}

TD.logo {background-color: #FFEBCA}

TD.menu {background-color: #FFEBCA; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #006699}

TD.path {background-color: #006699; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FF9C32}

TD.head1 {color: #FF9C32; background-color: #FFFFFF}
p.head1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 15px; font-weight: bold; margin-top: 25px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px}

TD.head2 {color: #006699; background-color: #FFEBCA}
p.head2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 24px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}
p.head3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style:italic; line-height: 15px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}

TD.shorttext {color: #000000; background-color: #FFFFFF; vertical-align: top}
p.shorttext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #000000; margin-top: 8px; margin-right: 0px; margin-bottom: 8px; margin-left: 8px}
p.shorttext1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 12px; color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}

TD.labeltext {color: #000000; background-color: #FFFFFF; vertical-align: top}
p.labeltext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}

TD.normaltext {color: #000000; background-color: #FFFFFF}
p.normaltext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; vertical-align: top; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}

TD.linktext {background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px}
p.linktext {background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}

TD.table {color: #000000; background-color: #FFEBCA; line-height:20px}
p.table {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 3px}

p.empty {margin-top: 6px; margin-right: 0px; margin-bottom: 6px; margin-left: 0px}
IMG.line {margin-top: 8px; margin-bottom: 8px}

UL {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; vertical-align: top}


HR.ruler {color: #000000; line-height: 1px}


.ECADLoading {
  position: absolute;
  float: right;
  left: 30vw;
  top: 30vh;
  z-index: 1000000;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  margin:20px;
  padding:20px;
}