.ReactWMJSLayer {
    width:100%;

    padding:2px;
    margin:0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,0.5);


    line-height:14px;
    font-size:10px;

    display:block;
    background:rgba(255,255,255,0.5);
    display:none;
}

.ReactWMJSLayerProps {
    position:absolute;
    overflow: hidden;
    display:block;
    padding:0;
    margin:0;
    z-index:100;

}

.ReactWMJSMapTimeValue {
    position:absolute;
    float: top;
    overflow: hidden;
    display:block;
    padding: 0px 7px;
    margin:10px 0px 0px 10px;
    z-index:100;
    background: rgba(32, 32, 32, 0.2);
    border-radius: 5px;
}

.ReactWMJSZoomPanel {
    position:relative;
    overflow: visible;
    display:block;
    padding:0;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    z-index:100;
    background: rgba(32, 32, 32, 0.2);
}

/*.ReactWMJSZoomPanel .btn {
  background: rgba(0,0,0,0);
  opacity: 0.3;
}*/

.ReactWMJSMapComponent{
    position:absolute;
    overflow: hidden;
    display:block;
    padding:0;
    margin:0;
    z-index:10;
}

.slider.slider-horizontal {
    width: 100%;
}