.horizontal-slider .horizontal-slider-thumb {
  line-height: 48px;
  top: -6px;
  left: -5px;
  width: 18px;
  height: 18px;
  line-height: 28px;
}

.horizontal-slider-thumb-0 {
  display: none;
}

.horizontal-slider .horizontal-slider-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider-track.horizontal-slider-track-1 {
  background: rgb(255, 0, 0);
}

.horizontal-slider-track {
  position: relative;
  background: rgb(221, 221, 221);
}

.horizontal-slider {
  width: 100%;

  height: 8px;
  margin-top: 8px;
  margin-left:4px;
  border: 1px solid #CCCCCC;
  border-radius:15px;
  background:#F2F2F2;
  box-shadow:         inset 0 0 1px #BBB;
  cursor: pointer;
}
.vertical-slider {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}
.horizontal-slider-track {
  font-size: 0.9em;
  text-align: center;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius:15px;
  background:#DDDDDD;
  border:1px solid #AAADAA;
}
.horizontal-slider-track.active {
  background-color: #DDDDFD;
}

.horizontal-slider .horizontal-slider-track {
  top: -6px;
  width: 18px;
  height: 18px;
  line-height: 28px;

}
.vertical-slider .horizontal-slider-track {
  left: 1px;
  width: 48px;
  line-height: 50px;
}
