  .GeoRouteWarningContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "map warninginfo";
    width:100%;
    height:100vh;
    /* border: 1px solid blue; */
  }

  .GeoRouteWarningMapContainer {
    grid-area: map;
    width:100%;
    height:inherit;
    /* border: 1px solid red; */
  }

  .GeoRouteWarningTextAreaContainer {
    grid-area: textarea;
    width:100%;
    height:100%;
  }


.GeoRouteWarningTextArea {
  padding:0;
  border:none;
  width:100%;
  height:100%;
  font-size:10px;
}

.GeoRouteWarningControlsContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.GeoRouteWarningWarningInfoContainer {
  grid-area: warninginfo;
  width:100%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 6px;
}

.GeoRouteWarningWarningInfoCard .row {
  padding-top: 10px;
}